{% macro facade_configs(returns) %}
  {% do returns({
    'west': {'azimuth': 295, 'max_delta': 90, 'min_lux': 25000, 'temp_offset': 0},
    'wohnzimmer_panorama': {'azimuth': 275, 'max_delta': 90, 'min_lux': 25000, 'temp_offset': 0},
    'ost': {'azimuth': 115, 'max_delta': 80, 'min_lux': 25000, 'temp_offset': 4000},
    'sued': {'azimuth': 205, 'max_delta': 90, 'min_lux': 25000, 'temp_offset': 3000},
    'nord': {'azimuth': 25, 'max_delta': 45, 'min_lux': 35000, 'temp_offset': 10000}
  }) %}
{% endmacro %}

{% macro facade_config(facade, returns) %}
  {% set configs = facade_configs | as_function %}
  {% do returns(configs().get(facade, {})) %}
{% endmacro %}

{% macro facade_azimuth(facade, returns) %}
  {% set config = facade_config | as_function %}
  {% do returns(config(facade).get('azimuth')) %}
{% endmacro %}

{% macro facade_active(facade, returns) %}
  {% set config = facade_config | as_function %}
  {% set facade_settings = config(facade) %}
  {% set lux = states('sensor.aussenbereich_wetterstation_helligkeit') | float(0) %}
  {% set outside_temp = states('sensor.aussenbereich_wetterstation_temperatur') | float(0) %}
  {% set azimuth = state_attr('sun.sun', 'azimuth') | float(0) %}
  {% set elevation = state_attr('sun.sun', 'elevation') | float(0) %}
  {% set temp_threshold = 10000 if outside_temp >= 23 else 15000 if outside_temp >= 15 else 20000 if outside_temp >= 5 else 24000 %}
  {% set elevation_factor = 0.8 if elevation > 60 else 1 %}
  {% set delta = (((azimuth - facade_settings.azimuth + 180) % 360) - 180) | abs %}
  {% set load = lux * ([0, 1 - (delta / 90)] | max) * elevation_factor %}
  {% do returns(
    is_state('sun.sun', 'above_horizon')
    and elevation > 8
    and lux > facade_settings.min_lux
    and delta < facade_settings.max_delta
    and load > temp_threshold + facade_settings.temp_offset
  ) %}
{% endmacro %}
